.game__board-row {
  display: flex;
  justify-content: space-between;
}

.game__board-row:after {
  display: table;
  clear: both;
  content: "";
}

.game__status {
  margin-bottom: 10px;

  font: 18px "Century Gothic", Futura, sans-serif;
  color: #f78411;
}

.game__button {
  display: flex;
  align-items: center;

  width: 209px;
  height: 45px;

  margin-left: 17px;
  padding: 0 0 0 29px;

  border: 2px solid #f78411;
  border-radius: 4px;
  background-color: #ffd8ab;

  font: 18px "Century Gothic", Futura, sans-serif;
  color: #f78411;
  
  cursor: pointer;
}

.game__button:focus {
  outline: none;
}

.game__button:active {
  background-color: #f78411;
  color: #ffd8ab;
}

.game__title {
  text-align: center;

  font: 32px "Xarrovv", sans-serif;
  color: #f74210;
}
