body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  display: flex;
  justify-content: center;
  background-color: #ffd8ab;
}

ol, ul {
  padding-left: 30px;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
}