.square {
  background-color: #ffdec6;
  border: 1px solid #f78413;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 82px;
  height: 82px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}