.game__square {
  background-color: #ffdec6;
  border: 1px solid #f78413;
  float: left;
  font: 32px "Century Gothic", Futura, sans-serif;
  color: #f78411;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 82px;
  height: 82px;
  cursor: pointer;
}

.game__square:focus {
  outline: none;
}

.kbd-navigation .game__square:focus {
  background: #ddd;
}